<section class="request-header container">
  <h3> طلب إضافة مقدم خدمة</h3>
  <span>#123456</span>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
        role="tab" aria-controls="nav-home" aria-selected="true">المعلومات الاساسية</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
        role="tab" aria-controls="nav-profile" aria-selected="false">التأهيل العلمي والمهني</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
        role="tab" aria-controls="nav-contact" aria-selected="false">التخصص</button>
      <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button"
        role="tab" aria-controls="nav-disabled" aria-selected="false">اماكن العمل</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">

      <div class="flex flex-column w-full mt-4">
        <img class="img-view" [src]="userPrimaryInformation?.image" alt="img">

        <!-- <label for="dropzone-file"
          class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">قم برفع صوره
                للاخصائي</span></p>
            <p class="text-xs text-gray-500 dark:text-gray-400">٢٠٠ سم * ٤٠٠ سم</p>
          </div>
          <img [src]="userPrimaryInformation?.image" alt="img">
        </label> -->
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="mb-4">
              <label class="block text-[#A2A2A2] text-sm font-bold mb-2">
                الاسم
              </label>
              <div class="custom-input">
                {{userPrimaryInformation?.name_ar}}
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="mb-4">
              <label class="block text-[#A2A2A2] text-sm font-bold mb-2">
                اللقب
              </label>
                <div class="custom-input">
                  {{userPrimaryInformation?.name_en}}
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-4">
              <label class="block text-[#A2A2A2] text-sm font-bold mb-2">
                رقم الجوال
              </label>
              <div class="custom-input">
                {{userPrimaryInformation?.phoneNumber}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-4">
              <label class="block text-[#A2A2A2] text-sm font-bold mb-2">
                تاريخ الميلاد
              </label>
              <div class="custom-input">
                {{userPrimaryInformation?.birthDate | date: 'M-d-yyyy'}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-4">
              <label class="block text-[#A2A2A2] text-sm font-bold mb-2">
                الجنسية
              </label>
              <div class="custom-input">
                {{userPrimaryInformation?.nationality}}
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-4">
              <label class="block text-[#A2A2A2] text-sm font-bold mb-2">
                عنوان السكن
              </label>
              <div class="custom-input">
                {{userPrimaryInformation?.address}}
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="mb-4">
              <label class="block text-[#A2A2A2] text-sm font-bold mb-2">
                الوصف
              </label>
              <div class="custom-textArea">
                {{userPrimaryInformation?.address}}
              </div>
            </div>
          </div>
          <hr>

        </div>
        <div class="EID">
          <h4>تأكيد الهوية</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-4">
                <label class="block text-[#A2A2A2] text-sm font-bold mb-2">
                  رقم الهوية / الجواز / الاقامة
                </label>
                <div class="custom-input">
                  {{userPrimaryInformation?.nationalID}}
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-4">
                <label class="block text-[#A2A2A2] text-sm font-bold mb-2">
                  صورة الهوية / الجواز / الاقامة
                </label>
                <div class="custom-EID">
                  <img [src]="userPrimaryInformation?.nationalIdPhoto">

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="footer-tab mt-3">
        <button class="px-5 py-2 mt-10 text-base rounded-[7px] flex justify-center gap-4 items-center btn-reject"
          type="submit" tabindex="-1" (click)="rejectRequest()">
          <div>
            رفض الطلب
          </div>
        </button>
        <!-- <button class="px-5 py-2 mt-10 text-base rounded-[7px] flex justify-center gap-4 items-center btn-next"
        id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
        role="tab" aria-controls="nav-profile" aria-selected="false" >

          <div>
            التالي
          </div>
          <img src="assets/images/right-arrow.svg" alt="" />

        </button> -->

      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
      <div class="flex flex-column w-full mt-4">
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="mb-4">
              <label class="block text-[#A2A2A2] text-sm font-bold mb-2">
                سنوات الخبرة
              </label>
                <div class="custom-input">
                {{userProviderPrimaryInformation?.yearsOfExperience}}
              </div>
            </div>

          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-4">
              <label class="block text-[#A2A2A2] text-sm font-bold mb-2">
                شهادة جامعية
              </label>
              <div class="custom-EID">
                <img [src]="userProviderPrimaryInformation?.collegeDegreePhoto">

              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-4">
              <label class="block text-[#A2A2A2] text-sm font-bold mb-2">
                تصريح مزاولة المهنة
              </label>
              <div class="custom-EID">
                <img [src]="userProviderPrimaryInformation?.practicingTheProfessionCertificatePhoto">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-tab mt-3">
        <button class="px-5 py-2 mt-10 text-base rounded-[7px] flex justify-center gap-4 items-center btn-reject"
          type="submit" tabindex="-1" (click)="rejectRequest()">
          <div>
            رفض الطلب
          </div>
        </button>
        <!-- <button class="px-5 py-2 mt-10 text-base rounded-[7px] flex justify-center gap-4 items-center btn-next">

          <div>
            التالي
          </div>
          <img src="assets/images/right-arrow.svg" alt="" />

        </button> -->

      </div>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">

      <div class="flex flex-column w-full mt-4">
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="mb-4">
              <label class="block text-[#A2A2A2] text-sm font-bold mb-2">
                الخدمة
              </label>
              <div class="custom-input">
                {{userProviderSpecialty?.serviceProviderType}}
               </div>
            </div>

          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-4">
              <label class="block text-[#A2A2A2] text-sm font-bold mb-2">
                التخصص
              </label>
             <div class="custom-input">
              <span class="specialist" *ngFor="let specialist of userProviderSpecialty?.animalCategories">
                {{specialist?.name_ar}}
              </span>
             </div>
            </div>
          </div>

        </div>

      </div>
      <div class="footer-tab mt-3">
        <button class="px-5 py-2 mt-10 text-base rounded-[7px] flex justify-center gap-4 items-center btn-reject"
          type="submit" tabindex="-1" (click)="rejectRequest()">
          <div>
            رفض الطلب
          </div>
        </button>
        <!-- <button class="px-5 py-2 mt-10 text-base rounded-[7px] flex justify-center gap-4 items-center btn-next">

          <div>
            التالي
          </div>
          <img src="assets/images/right-arrow.svg" alt="" />

        </button> -->

      </div>
    </div>
    <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">
      <div class="date-tab" *ngFor="let item of userWorkingDetailsAndHours">
        <h5>{{item?.district_Name_ar}}</h5>
       <div class="d-flex align-items-center gap-4 mb-3">
        <div class="d-flex flex-column">
          <span >تكلفة الزيارة  </span>
          <span class="cost">{{item?.initialCost}} ر،س </span>
        </div>
        <div class="d-flex flex-column">
          <span >تكلفة الزيارة  </span>
          <span class="cost">{{item?.additionalCost}} ر،س </span>
        </div>
       </div>
       <hr>
       <div class="d-flex justify-content-between mt-5" *ngFor="let workingHour  of item?.workingHours">
        <h5>{{workingHour?.day}}</h5>
        <div class="d-flex align-items-center" *ngFor="let time of workingHour .startingAndEndingTime">
          <div class="date-box">
            {{ time.startingTime  | timeFormat }}
          </div>
          <div >
            <img src="assets/images/arrow-right-1.svg" alt="" />
          </div>
          <div class="date-box">
            {{ time.endTime | timeFormat }}
          </div>
        </div>
       </div>

      </div>

      <div class="footer-tab mt-3">
        <button class="px-5 py-2 mt-10 text-base rounded-[7px] flex justify-center gap-4 items-center btn-reject"
          type="submit" tabindex="-1" (click)="rejectRequest()">
          <div>
            رفض الطلب
          </div>
        </button>
        <button class="px-5 py-2 mt-10 text-base rounded-[7px] flex justify-center gap-4 items-center btn-next"
        id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
        role="tab" aria-controls="nav-profile" aria-selected="false" (click)="acceptRequest()">

          <div>
            قبول
          </div>
        </button>

      </div>
    </div>
  </div>
</section>
