<div class="flex items-center bg-white relative shadow-ga z-20">
  <div class="py-1 flex-1 relative flex justify-end items-center px-8 header-border">
      <!-- <div class="cursor-pointer mx-4 text-[#056A3A]">
        English
      </div> -->
    <!-- <div class="cursor-pointer ">
        <mat-icon [svgIcon]="'language'" class="!w-6 !h-6"> </mat-icon>
    </div> -->
    <img class="!w-10 !h-10 rounded-full mx-4" src="assets/images/icon-service/profile.svg">

    <!-- <div class="border-r-2 border-[#EAEBF0] h-10"></div> -->

    <!-- <div class="cursor-pointer mx-4">
      <mat-icon [svgIcon]="'notifiaction'" class="!w-10 !h-10"> </mat-icon>
    </div>
    <div class="cursor-pointer">
        <mat-icon [svgIcon]="'resize'" class="!w-10 !h-10"> </mat-icon>
     </div> -->


  </div>
</div>
