<div class="flex justify-center items-center">
  <div
    class="flex flex-col items-center justify-between min-h-full bg-white w-[500px] rounded-[20px] border border-gray-500 border-opacity-50 backdrop-blur-[30px] p-9"
  >
    <form [formGroup]="registerForm" class="flex flex-col w-full">
      <div class="flex justify-center mb-10">
        <img src="assets/images/icon-logo.svg" alt="" />
      </div>
      <div class="mb-4">
        <label class="block text-[#272D37] text-sm font-bold mb-2">
          Mobile
        </label>
        <input
          formControlName="mobile"
          (input)="onChange($event)"
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-[#272D37] leading-tight focus:outline-none focus:shadow-outline"
          type="text"
          placeholder="Enter Mobile Number"
        />

        <p
          class="text-red-500 text-xs italic"
          *ngIf="
            f.mobile.hasError('required') &&
            (f.mobile.touched || f.mobile.dirty)
          "
        >
          Mobile is Required
        </p>
      </div>

      
      <div class="mb-4">
        <label class="block text-[#272D37] text-sm font-bold mb-2">
          Password
        </label>
        <input
          formControlName="password"
          (input)="onChange($event)"
         
          [type]="hide ? 'password' : 'text'"
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-[#272D37] leading-tight focus:outline-none focus:shadow-outline"
          type="text"
          placeholder="Enter Password"
        />

        <p
          class="text-red-500 text-xs italic"
          *ngIf="
            f.password.hasError('required') &&
            (f.password.touched || f.password.dirty)
          "
        >
          Password is Required
        </p>
        <p
          class="text-red-500 text-xs italic"
          *ngIf="f.password.hasError('passwordUnmatch')"
        >
          Password is different
        </p>
      </div>

      <div class="mb-4">
        <label class="block text-[#272D37] text-sm font-bold mb-2">
          Verify Password
        </label>
        <input
          formControlName="verifyPassword"
          (input)="onChange($event)"
        
          [type]="hide ? 'password' : 'text'"
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-[#272D37] leading-tight focus:outline-none focus:shadow-outline"
          type="text"
          placeholder="Enter Verify Password"
        />

        <p
          class="text-red-500 text-xs italic"
          *ngIf="
            f.verifyPassword.hasError('required') &&
            (f.verifyPassword.touched || f.verifyPassword.dirty)
          "
        >
          Verify Password is Required
        </p>
        <p
          class="text-red-500 text-xs italic"
          *ngIf="f.verifyPassword.hasError('passwordUnmatch')"
        >
          Password is different
        </p>
      </div>

      <button
        class="w-full py-2 mt-10 text-base text-white bg-[#056A3A] rounded-[7px] flex justify-center items-center"
        type="submit"
        [disabled]="submitted"
        (click)="onSubmit()"
        tabindex="-1"
      >
        {{ loading ? "" : "Register" }}
        <div *ngIf="loading"></div>
      </button>
    </form>
    <!--  <div class="mb-8">
        <p class="w-full text-base text-center mb-4">
          {{ "Auth.new-cartimatic" | translate }}
          <a
            class="text-purple-600 dark:text-purple-300"
            (click)="goToRegister()"
            >{{ "Auth.create-account" | translate }}</a
          >
        </p>
  
        <p class="text-base text-center">
          {{ "Auth.Having-trouble-logging-in" | translate }}
          <a
            class="text-purple-600 dark:text-purple-300"
            routerLink="/auth/forget-password"
            >{{ "Auth.Reset-your-password" | translate }}</a
          >
        </p>
      </div> -->
  </div>
</div>
